@import "tailwindcss";

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

